  .photo-grid {
      margin-top: 92px;
      display: grid;
      grid-template-columns: repeat(4, 284px);
      grid-template-rows: repeat(3, 213px);
      gap: 16px;
  }
  
  @media screen and (max-width: 1279px) {
      .photo-grid {
          grid-template-columns: repeat(3, 300px);
          grid-template-rows: repeat(4, 225px);
          gap: 14px;
          width: calc(100% - 48px * 2);
          margin: 92px auto 0 auto;
      }
  }
  
  @media screen and (max-width: 1023px) {
      .photo-grid {
          width: calc(100% - 24px * 2);
          padding: 0 24px;
          margin-top: 88px;
          grid-template-columns: repeat(2, 352px);
          grid-template-rows: repeat(6, 264px);
          gap: 16px;
      }
  }
  
  @media screen and (max-width: 767px) {
      .photo-grid {
          padding: 0;
          width: calc(100% - 16px * 2);
          margin: 64px auto 0 auto;
          grid-template-columns: 288px;
          grid-template-rows: repeat(12, 216px);
          gap: 12px;
      }
  }