.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 1rem;
    max-width: 1184px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 92px;
}