  .place__image {
      width: 100%;
  }
  
  @media screen and (max-width: 767px) {
      .place__image {
          margin-top: 32px;
      }
      .place__image:nth-child(4) {
          margin-top: 31px;
      }
  }