.intro__list {
    margin: 0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    max-width: 690px;
    margin-top: 33px;
    list-style: none;
    padding: 0;
}