.footer__link {
    margin: 0;
    padding: 0;
    margin-right: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 1.1;
    text-align: left;
    color: white;
    text-decoration: none;
}

.footer__link.footer__link::last-child {
    margin-right: 0;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
    margin-right: 18px;
}