.lead__title {
    margin: 0 auto;
    padding: 0;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.04;
    text-align: center;
    color: white;
    width: 80%;
}