.lead__title {
    padding: 0;
    margin: 0 auto;
    width: 720px;
    color: white;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}