.footer__copyright {
    width: 282px;
    max-height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px 0px 0px 238px;
}

@media all and (min-width: 1281px) and (max-width: 1440px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        @media all and (min-width: 1024px) and (max-width: 1280px) {
            .footer__copyright {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: right;
                color: #FFFFFF;
                margin-left: 90px;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        text-align: right;
        color: #FFFFFF;
    }
}

@media all and (min-width: 425px) and (max-width: 767px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        color: #FFFFFF;
        text-align: start;
        padding-top: 48px;
    }
}

@media all and (max-width: 425px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        text-align: start;
        padding-top: 48px;
        color: #FFFFFF;
        max-width: 100%;
    }
}