  .footer__copyright {
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      padding: 0;
      padding-bottom: 24px;
  }
  
  @media screen and (max-width: 1023px) {
      .footer__copyright {
          padding-bottom: 20px;
      }
  }
  
  @media screen and (max-width: 767px) {
      .footer__copyright {
          margin-top: 48px;
          margin-bottom: 24px;
          line-height: 14px;
          padding-bottom: 0;
      }
  }