.intro {
    max-width: 690px;
    padding-left: 100px;
    margin-top: 92px;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 24px*2);
        margin: 0 auto;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 0;
        width: calc(100% - 16px*2);
        margin-top: 64px;
    }
}