.cover {
    margin: 0 auto;
    max-width: 1184px;
    position: relative;
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 88px;
    }
}

@media screen and (max-width: 420px) {
    .cover {
        margin-top: 64px;
    }
}