.cover__background {
    position: relative;
    margin-top: 12px;
    padding: 20px;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    z-index: 1;
}

.cover__background::before {
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s opacity;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 600px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 440px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 190px;
        padding: 5px;
    }
}