.cover__title {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 560px;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    transition: opacity .3s;
    color: white;
}

@media screen and (max-width: 767px) {
    .cover__title {
        padding-top: 33px;
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
    }
}