      .footer {
          margin: 0 auto;
          margin-top: 92px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
      }
      
      @media screen and (max-width: 1279px) {
          .footer {
              width: calc(100% - 48px * 2);
          }
      }
      
      @media screen and (max-width: 1023px) {
          .footer {
              width: calc(100% - 24px * 2);
              margin-top: 88px;
              margin-bottom: 0;
          }
      }
      
      @media screen and (max-width: 767px) {
          .footer {
              margin: 0 0 0 16px;
              display: block;
              width: calc(100% - 16px * 2);
          }
      }