.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 8px;
}

@media (max-width: 420px) {
    .place__website {
        justify-content: flex-start;
        margin: 32px 16px;
    }
}